.cover__link {
    margin: 0;
    display: flex;
    text-decoration: none;
    background-image: url("../../../images/cover-trains.jpg");
    background-size: cover;
    /* После нескольких сдач на ревью, пришел к выводу, что все-таки Ваш коментарий некорректный, без этого свойтсва высота картинки будет либо равно 0, либо равна высоте дочерних элементов в DOM дереве -- свойсво необходимо оставить. Либо нужно явно ыказывать высоту картинки, но это так же некорректно, так как высота должна быть разная в зависимости от текущего разрешения экрана браузера */
    aspect-ratio: 1 / 0.625;
}