.places {
    margin: 111px auto 0 auto;
}

.places > .place:not(:last-child) {
    margin-bottom: 80px; 
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places {
        margin: 92px 48px 0 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        margin: 88px 24px 0 24px;
    }

    .places > .place:not(:last-child) {
        margin-bottom: 73px; 
    }
}

@media screen and (max-width: 767px) {
    .places {
        margin: 64px 0 0 0;
    }

    .places > .place:not(:last-child) {
        margin-bottom: 50px; 
    }
}