.cover__subtitle {
    max-width: 360px;
    width: 100%;
    margin: 0;
    margin-top: 32px;
    color: #ffffff;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        max-width: 288px;
        line-height: 16px;
        font-size: 14px;
    }
}