.lead__subtitle {
    width: 640px;
    margin: 32px auto 0 auto;
    text-align: center;
    color: #ffffff;
    line-height: 36px;
    font-size: 30px;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        width: 288px;
        margin-top: 16px;
        line-height: 20px;
        font-size: 16px;
    }
}