.cover {
    margin: 92px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    aspect-ratio: 1 / 0.625;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover {
        margin-top: 90px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin-top: 66px;
    }
}