.cover__overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* После нескольких сдач на ревью, пришел к выводу, что все-таки без этого свойтсва высота картинки будет либо равно 0, либо равна высоте дочерних элементов в DOM дереве -- свойсво необходимо оставить. Либо нужно явно указывать высоту картинки, но это так же некорректно, так как высота должна быть разная в зависимости от текущего разрешения экрана браузера */ 
    aspect-ratio: 1 / 0.625;
    z-index: 2;
}