.cover__title {
    margin: 0;
    max-width: 560px;
    text-align: center;
    color: #ffffff;
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
}

@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 228px;
        line-height: 35px;
        font-size: 32px;
    }
}