.footer {
    margin: 92px 48px 0px 48px;
    padding: 0 0 24px 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        margin: 88px 24px 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        margin: 64px 16px 0 16px;
        flex-direction: column;
        row-gap: 48px;
    }
}